.tagify, .tagify--noTags, .tagify--empty {
    @apply 
        h-9 
        p-0 m-0
        w-full 
        rounded-md 
        border 
        text-sm 
        shadow-sm 
        transition 
        placeholder:font-normal 
        text-black
        disabled:text-opacity-50
        border-border
        text-foreground
}

.tagify--focus {
    @apply outline-none ring-1 ring-slate-400 border-none;
}

.tags-input {
    @apply p-0;
}


.custom_dropdown > div {
    @apply 
        inline-flex
        w-full
        flex-wrap
        gap-2
        p-2
        mt-1 
        overflow-auto 
        rounded-md 
        text-base 
        ring-1 
        focus:outline-none 
        sm:text-sm border 
        border-border
        shadow-sm 
        ring-border
        bg-primary;
}

.tagify__dropdown__item {
    @apply hover:bg-zinc-100 transition rounded text-black border border-muted shadow-sm bg-primary hover:bg-accent text-foreground;
}